streamlit
pandas
yfinance
pandas-ta
plotly
numpy
prophet # fbprophet is the underlying library, but prophet is the correct package name for pip
google-generativeai
pytz
alpha-vantage
scipy
nltk
requests
beautifulsoup4
pytrends